@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap");

.body,
.object {
  background-color: #22395d;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.object {
  background-color: rgb(247, 243, 243);
}
.bhoj {
  width: 350px;
  height: 210px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 300ms ease;
}
.container,
.cover {
  border: solid white 2px;
  border-radius: 10px;
  width: 370px;
}
.cover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon {
  text-align: right;
  margin-right: 10px;
}
.react {
  margin-right: 10px;
}
.info {
  font-family: "Oswald", sans-serif;
  margin: 25px;
}
.bhoj:hover {
  transform: scale(1.05) rotate(0.1deg);
}
.para {
  color: #ff7f50;
  font-family: "Montserrat", sans-serif;
}
.stack {
  color: #22395d;
  background-color: azure;
  width: 65px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  margin-right: 10px;
}
.stack_body {
  display: flex;
}

/* CSS */
.button,
.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 30px;
}
.btn {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}
.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.btn:focus {
  box-shadow: coral 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, coral 0 -3px 0 inset;
}
.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, coral 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.btn:active {
  box-shadow: coral 0 3px 7px inset;
  transform: translateY(2px);
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 450px) {
  .body,
  .object {
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container,
  .cover {
    width: 350px;
  }
  .bhoj {
    width: 320px;
    height: 210px;
    padding: 15px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 649px) {
  .body,
  .object {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container,
  .cover {
    width: 350px;
  }
  .bhoj {
    width: 320px;
    height: 210px;
    padding: 15px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 649px) and (max-width: 800px) {
  .body,
  .object {
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container,
  .cover {
    width: 350px;
  }
  .bhoj {
    width: 320px;
    height: 210px;
    padding: 15px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .body,
  .object {
    margin-top: -47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container,
  .cover {
    width: 350px;
  }
  .bhoj {
    width: 320px;
    height: 210px;
    padding: 15px;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 374px) {
  .bhoj {
    width: 280px;
    height: 200px;
    padding: 10px;
    border-radius: 25px;
  }
  .container,
  .cover {
    width: 300px;
  }
}
